<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-app="comunicadoApp" ng-controller="comunicadoAppController">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Customer complaints</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Catalogs</li>
                                    <li class="breadcrumb-item active" aria-current="page">Complaints</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <a th:align="center" th:href="@{/intranet/comunicado/create}" class="waves-effect waves-light btn mb-5 bg-gradient-primary">
                            Add complaint
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a th:align="center" th:href="@{/intranet/comunicado/create}" class="waves-effect waves-light btn mb-5 bg-gray-400">
                            Descargar reporte
                        </a>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Customer complaints maintenance</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${SEND_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn btn-success mb-5"><i class="fa fa-envelope"></i><span th:text="${SEND_MESSAGE}"></span></a>
                                    </div>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Issue number</th>
                                            <th>Issue description</th>
                                            <th>Date opened</th>
                                            <th>Part No.</th>
                                            <th>Owner</th>
                                            <th>Number of rejected pieces</th>
                                            <th>1. Establish the team</th>
                                            <th>2. Describe the problem</th>
                                            <th>3. Interim contaiment actions</th>
                                            <th>4. Root cause analisys</th>
                                            <th>5. Corrective action plan</th>
                                            <th>6. Corrective action verified</th>
                                            <th>7. Systemic prevention</th>
                                            <th>8. Congratulate your team</th>
                                            <th>Date closed</th>
                                            <th>Customer complaint</th>
                                            <th>Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr >
                                            <td>AAM</td>
                                            <td>01-P1-21</td>
                                            <td>Lack of delivery</td>
                                            <td>02/02/2021</td>
                                            <td>40152170</td>
                                            <td>Manufacturing</td>
                                            <td>1</td>
                                            <td>02/03/2021</td>
                                            <td>02/03/2021</td>
                                            <td>02/03/2021</td>
                                            <td>02/10/2021</td>
                                            <td>02/12/2021</td>
                                            <td>02/17/2021</td>
                                            <td>02/17/2021</td>
                                            <td>02/17/2021</td>
                                            <td>02/26/2021</td>
                                            <td>40877</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

            <div th:each="p : ${entities}" th:attr="id=${'md' + p.id}" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark">Eliminar documento</h4>
                            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <h6>
                                <p>
                                    Si elimina el elemento no podr&aacute; recuperarlo, esta acci&oacute;n no se puede deshacer. &#191;Desea continuar?
                                </p>
                            </h6>
                            <h3><span th:text="${p.titulo}"></span></h3>
                            <h3><span th:text="${p.nombre}"></span></h3>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/intranet/comunicado/delete/{id}(id=${p.id})}" class="btn btn-danger">Eliminar</a>
                            <a class="btn btn-secondary" data-dismiss="modal" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cancelar</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-lg" id="modalLista"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Informaci&oacute;n del comunicado</h4>
                            <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                        </div>
                        <div class="modal-body">
                            <div id="jstree">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</a>
                            <a href="javascript:void(0);" type="button" class="btn btn-info text-left" ng-click="saveLista()">Guardar</a>

                            <p class="alert-danger" ng-show="succesSave">Informaci&oacute;n actualizada correctamente</p>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade bs-example-modal-lg" th:each="p : ${entities}" th:attr="id=${'mdc' + p.id}"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel1">Informaci&oacute;n del comunicado</h4>
                            <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                        </div>
                        <div class="modal-body">
                            <h4 class="card-title b-0 px-0">Detalle</h4>
                            <p><span th:text="${p.contenido}"></span></p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->


        </div>
    </div>
    <!-- /.content-wrapper -->
    <script>
        var permisoApp = angular.module("comunicadoApp", []);


        permisoApp.controller("comunicadoAppController", function($http, $window, $timeout, $scope) {
            $scope.organizacion = [];
            console.log('init');



            $scope.saveLista = function() {
                console.log('selected', $("#jstree").jstree("get_selected", true));
                let dl = $("#jstree").jstree("get_selected", true);
                let dr = "";
                dl.forEach(function(p) {
                    if (!isNaN(p.id)) {
                        dr = dr+','+p.text.split('-')[1];
                    }
                });
                $http({
                    url: '/mpmx/intranet/comunicado/distribucion',
                    method: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        id: 0,
                        comunicado: {
                            id: $scope.comunicadoCurrent
                        },
                        distribucion: dr
                    }
                }).then(function(response) {
                    console.log('save-response', response);
                    $scope.succesSave = true;
                    $timeout(function() {
                        $scope.succesSave = false;
                    }, 2000)
                })
            }

            $scope.showLista = function(comunicadoId) {
                console.log('data');
                $('#modalLista').modal('show');
                $scope.buildTree(comunicadoId);
            };
            
            $scope.buildTree = function(comunicadoId) {
                $scope.comunicadoCurrent = comunicadoId;
                $http({
                    url: '/mpmx/intranet/comunicado/distribucion/' + comunicadoId,
                    method: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                }).then(function(response) {
                    console.log('distribucion-get', response);

                    let currentd = '';
                    if (response.data && response.data.distribucion) {
                        currentd = response.data.distribucion;
                    }
                    console.log('$scope.usuarios;', $scope.usuarios);
                    let treeComunicado = [];
                    [...new Set($scope.usuarios.map(p=>p.compania))].forEach(function(compania) {
                        console.log('compania', compania);
                        treeComunicado.push({'id': compania, 'parent': '#', text: compania});
                        let departments = [...new Set($scope.usuarios.filter(p=>p.compania == compania).map(p=>p.departamento))];
                        departments.forEach(function(department) {
                            treeComunicado.push({'id': compania+'_'+department, 'parent': compania, text: department});
                            let usuarios = $scope.usuarios.filter(p=>p.compania == compania & p.departamento == department);
                            usuarios.forEach(function(usuario) {
                                treeComunicado.push({'id': usuario.id, 'parent': compania+'_'+department, text: usuario.descripcion + '-' + usuario.correo,
                                    state: {
                                        opened    : currentd > '' && currentd.indexOf(usuario.correo) >= 0,  // is the node open
                                        selected  : currentd > '' && currentd.indexOf(usuario.correo) >= 0  // is the node selected
                                    },
                                });
                            });
                        })
                    });
                    console.log('treeComunicado', treeComunicado);
                    $("#jstree").jstree("destroy");
                    $('#jstree').jstree({
                        "plugins" : [ "themes", "html_data", "checkbox", "sort", "ui" ],
                        'core' : {
                            'data' : treeComunicado,
                        }
                    });
                });
            }

            function init() {
                $http({
                    url: '/mpmx/intranet/comunicado/organizacion',
                    method: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                }).then(function(response) {
                    $scope.usuarios = response.data;
                });
            }

            init();
        });
    </script>

</div>
</body>
</html>