<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Usuarios</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Seguridad</li>
                                    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">



                    <div class="col-12">
                        <a th:align="center" th:href="@{/intranet/usuario/create}" class="waves-effect waves-light btn mb-5 bg-gradient-primary">
                            Agregar usuario
                        </a>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mantemiento para creaci&oacute;n de usuarios</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></a>
                                    </div>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Descripcion o puesto</th>
                                            <th>Nombre de usuario</th>
                                            <th>Gerente</th>
<!--                                            <th>Rol</th>-->
                                            <th>Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${entities}">
                                            <td th:text="${p.nombre}"></td>
                                            <td th:text="${p.apellido}"></td>
                                            <td th:text="${p.descripcion}"></td>
                                            <td th:text="${p.correo}"></td>
                                            <td>
                                                <div th:if="${p.gerente}">
                                                    SI
                                                </div>
                                                <div th:if="${!p.gerente}">
                                                    NO
                                                </div>
                                            </td>
<!--                                            <td th:text="${p.rol.nombre}"></td>-->
                                            <td>
                                                <a th:href="@{/intranet/usuario/update/{id}(id=${p.id})}">
                                                    <i class="fa fa-2x ti-pencil"></i>
                                                </a>
                                                &nbsp;
                                                <a th:href="@{/intranet/usuario/delete/{id}(id=${p.id})}" >
                                                    <i class="fa fa-2x ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
<!--                                        <tfoot>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Descripcion o puesto</th>
                                            <th>Nombre de usuario</th>
                                            <th>Rol</th>
                                            <th>Opciones</th>
                                        </tr>
                                        </tfoot>-->
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->


</div>
</body>
</html>