<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Crear politicas y estatutos corporativos</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Cat&aacute;logos</li>
                                    <li class="breadcrumb-item active" aria-current="page">Pol&iacute;ticas y estatutos corporativas</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">



                    <div class="col-12">
                        <a th:align="center" th:href="@{/intranet/estatuto/create}" class="waves-effect waves-light btn mb-5 bg-gradient-primary">
                            Crear politica y estatuto corporativo
                        </a>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mantenimiento para crear pol&iacute;ticas y estatutos corporativos</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></a>
                                    </div>
                                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                        <a class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></a>
                                    </div>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>&Aacute;rea</th>
                                            <th>C&oacute;digo</th>
                                            <th>Nombre de la pol&iacute;tica y estatuto corporativo</th>
                                            <th>Descripci&oacute;n</th>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th>Descargar</th>
                                            <th>Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${entities}">
                                            <td th:text="${p.id}"></td>
                                            <td th:text="${p.area.nombre}"></td>
                                            <td th:text="${p.codigo}"></td>
                                            <td th:text="${p.nombre}"></td>
                                            <td th:text="${p.descripcion}"></td>
                                            <td th:text="${p.register}"></td>
                                            <td th:text="${p.username}"></td>
                                            <td>

                                                <div th:if="${p.pdf != null}">
                                                <a  th:href="@{/intranet/estatuto/mediapdf/{id}(id=${p.id})}" class="ms-icon ms-icon-sm ms-icon-circle ms-icon-inverse color-black">
                                                    <div class="ml-0 mr-15 bg-danger-light h-50 w-50 l-h-50 rounded text-center">
                                                        <span class="font-size-24 text-danger"><i class="fa fa-file-pdf-o"></i></span>
                                                    </div>
                                                </a>
                                                </div>
                                                <div th:if="${p.pdf == null}">
                                                    <span></span>
                                                </div>

                                            </td>
                                            <td>
                                                <a th:href="@{/intranet/estatuto/update/{id}(id=${p.id})}">
                                                    <i class="fa fa-2x ti-pencil"></i>
                                                </a>
                                                &nbsp
                                                <a data-toggle="modal" th:attr="data-target='#md'+${p.id}" >
                                                    <i class="fa fa-2x ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

            <div th:each="p : ${entities}" th:attr="id=${'md' + p.id}" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark">Eliminar documento</h4>
                            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <h6>
                                <p>
                                    Si elimina el elemento no podr&aacute; recuperarlo, esta acci&oacute;n no se puede deshacer. &#191;Desea continuar?
                                </p>
                            </h6>
                            <h3><span th:text="${p.codigo}"></span></h3>
                            <h3><span th:text="${p.nombre}"></span></h3>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/intranet/estatuto/delete/{id}(id=${p.id})}" class="btn btn-danger">Eliminar</a>
                            <a class="btn btn-secondary" data-dismiss="modal" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cancelar</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                function showpdf(id) {
                    console.log('data', id);
                    $('#pdf').empty();
                    var element =
                        '<object data="/intranet/estatuto/' + id + '" type="application/pdf" width="100%" height="700px">\n' +
                        '                                            <embed src="/intranet/estatuto/' + id + '" type="application/pdf">\n' +
                        '                                            </embed>\n' +
                        '                                        </object>';
                    $('#pdf').append(element);
                    $('#myModal').modal('show')
                }
            </script>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <a type="button" class="close" data-dismiss="modal">&times;</a>
                      <!--      <h4><span class="fa fa-search"></span> Intranet</h4>-->
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <div id="pdf">
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /.content-wrapper -->


</div>
</body>
</html>