<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">&Aacute;reas</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Cat&aacute;logos</li>
                                    <li class="breadcrumb-item active" aria-current="page">&Aacute;reas</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">



                    <div class="col-12">
                        <a th:align="center" th:href="@{/intranet/area/create}" class="waves-effect waves-light btn mb-5 bg-gradient-primary">
                            Agregar &aacute;rea
                        </a>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mantemiento para creaci&oacute;n de &aacute;reas</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></button>
                                    </div>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nombre del &aacute;rea</th>
                                            <th>Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${entities}">
                                            <td th:text="${p.nombre}"></td>
                                            <td>
                                                <a th:href="@{/intranet/area/update/{id}(id=${p.id})}">
                                                    <i class="fa fa-2x ti-pencil"></i>
                                                </a>
                                                &nbsp;
                                                <a th:href="@{/intranet/area/delete/{id}(id=${p.id})}" >
                                                    <i class="fa fa-2x ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->


</div>
</body>
</html>