<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Mantenimiento de plantas</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Catalogos</li>
                                    <li class="breadcrumb-item active" aria-current="page">Plantas</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col-xl-8 offset-2 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Crear planta</h4>
                            </div>
                            <!-- /.box-header -->
                            <form autocomplete="off" th:action="@{/intranet/planta/create}" th:object="${form}" method="post" novalidate enctype="multipart/form-data">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Nombre de la planta</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-medall-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Nombre de la planta" th:field="*{nombre}">
                                            <small th:if="${#fields.hasErrors('nombre')}" class="form-text text-danger" th:text="${#fields.errors('nombre')}"></small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripcion de la planta</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-medall-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Descripcion de la planta" th:field="*{descripcion}">
                                            <small th:if="${#fields.hasErrors('descripcion')}" class="form-text text-danger" th:text="${#fields.errors('descripcion')}"></small>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="form-group">
                                    <div class="box-footer">
                                        <a type="submit" th:href="@{/intranet/planta}"  class="btn btn-rounded btn-warning btn-outline mr-1">
                                            <i class="ti-trash"></i> Cancelar
                                        </a>
                                        <input type="submit" value="Guardar"  class="btn btn-rounded btn-primary btn-outline">
                                        <!--                    <i class="ti-save-alt"></i> Guardar-->
                                        </input>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>