<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Mantenimiento de asignaci&oacute;n de planta</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Seguridad</li>
                                    <li class="breadcrumb-item active" aria-current="page">Asignaci&oacute;n de planta</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col-xl-8 offset-2 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Crear asignaci&oacute;n</h4>
                            </div>
                            <!-- /.box-header -->
                            <form autocomplete="off" th:action="@{/intranet/usuarioplanta/update}" th:object="${form}" method="post" novalidate enctype="multipart/form-data">
                                <input type="hidden" th:field="*{id}" />
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-user"></i></span>
                                            </div>
                                            <select class="form-control" th:field="*{usuario.id}">
                                                <option th:each="q : ${usuario}" th:value="${q.id}" th:text="${q.correo}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Planta</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-medall-alt"></i></span>
                                            </div>
                                            <select class="form-control"  th:field="*{planta.id}">
                                                <option th:each="q : ${planta}" th:value="${q.id}" th:text="${q.nombre}"></option>
                                            </select>
                                        </div>
                                    </div>



                                </div>
                                <!-- /.box-body -->
                                <div class="form-group">
                                    <div class="box-footer">
                                        <a type="submit" th:href="@{/intranet/usuarioplanta}"  class="btn btn-rounded btn-warning btn-outline mr-1">
                                            <i class="ti-trash"></i> Cancelar
                                        </a>
                                        <input type="submit" value="Guardar"  class="btn btn-rounded btn-primary btn-outline">
                                        <!--                    <i class="ti-save-alt"></i> Guardar-->
                                        </input>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>